<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img class="logo" src="./../../../assets/WinstonPropertyLogo.png" id="icon" alt="Company Logo" height="200" width="500"/> -->
      <h1>Winston Property Management</h1>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
      <a class="underlineHover" href="/tenant">Forgot your password?</a>
    </div>

  </div>
</div>