<h1>Display Tenant Information</h1>

<table class="table table-striped">
<tr>
  <th>ID</th>
  <th>Fist Name</th>
  <th>Last Name</th>
  <th>SSN</th>
  <th>Address</th>
</tr>
<tr *ngFor="let a of tenants">
  <td>{{a.id}}</td>
  <td>{{a.firstName}}</td>
  <td>{{a.lastName}}</td>
  <td>{{a.ssn}}</td>
  <td>{{a.address}}</td>
</tr>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Tenant
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tenant Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- Tenant information form --> 
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputFirstName">First Name</label>
      <input name="firstname" class="form-control" id="inputFirstName" placeholder="John" required [(ngModel)]="firstName" >
      <br>
    {{ firstName }}
    </div>
    <div class="form-group col-md-6">
      <label for="inputLastName">Last Name</label>
      <input name="lastname" class="form-control" id="inputLastName" placeholder="Smith" required [(ngModel)]="lastName" >
    </div>
    <div class="form-group col-md-2">
        <label for="inputSSN">SSN</label>
        <input name="ssn" type="text" style=width:110px; class="form-control" id="inputSSN" placeholder="#########" [(ngModel)]="ssn">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>        <!--Add an autocomplete API here, maybe... -->
    <!-- <input type="text" class="google-place-input" placeholder="Type to search.."> -->
    <input name="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" [(ngModel)]="address">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input name="city" type="text" class="form-control" id="inputCity" [(ngModel)]="address">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control" name="state" [(ngModel)]="state">
        <option value="AL">AL</option>
	      <option value="AK">AK</option>
        <option value="AR">AR</option>	
        <option value="AZ">AZ</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DC">DC</option>
        <option value="DE">DE</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="IA">IA</option>	
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="MA">MA</option>
        <option value="MD">MD</option>
        <option value="ME">ME</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MO">MO</option>	
        <option value="MS">MS</option>
        <option value="MT">MT</option>
        <option value="NC">NC</option>	
        <option value="NE">NE</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>			
        <option value="NV">NV</option>
        <option value="NY">NY</option>
        <option value="ND">ND</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VT">VT</option>
        <option value="VA">VA</option>
        <option value="WA">WA</option>
        <option value="WI">WI</option>	
        <option value="WV">WV</option>
        <option value="WY">WY</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input name="zip" type="text" class="form-control" id="inputZip" [(ngModel)]="zip">
    </div>
  </div>

  <!-- <button type="submit" class="btn btn-success" (click)="addTenant()">Submit</button> -->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <input type="submit" class="btn btn-primary" (click)="addTenant()" value="Add Tenant">
  </div>
 </form>
      </div>
      
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="addTenant()"> Add Tenant</button>
      </div> -->
    </div>
  </div>
</div>